* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100;
    background: BurlyWood
}
.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabeçalho-menu{
    display: flex;
    gap: 32px;

}
.cabeçalho-menu-item{
    font-family: 'sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

}
.conteudo{
    border-top: 0.4px solid black;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-imagem{
    height: 600px;
    height: 400px;
    border-radius: 50%;

}
